*.swp
.import/*
.import/
*.import
addons/character-controller/*
addons/csgtomeshinstance/*
addons/dialogue_manager/*
addons/zylann.hterrain/*
terrain/*
todo.txt
qrcode.png
.godot/*
sfx/*
models/*
images/
.godot/*
